body {
	font-family: sans-serif;
	text-align: center;
  color: #eee;
  background: #121212;
}

.chatbar {
  width: 75%;
  margin: 0 auto;
}
input[type=text] {
  width: 50%;
}

.chatbox {
  overflow: scroll; 
  height: 35em;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 5px solid #333;
}

input, button{
  border: 1px solid #333;
  background-color: #222222;
  color: white;
}

input:focus {
  background-color: #333333;
}

// button {
//
//   border: 1px solid #333;
//   background-color: #222222;
// }
